<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0"> 
<!-- <link type="text/css" rel="stylesheet" href="/static/css/default.css" /> -->
<!--必要样式-->
<link type="text/css" rel="stylesheet" href="/static/css/styles.css" />
 <link type="text/css" rel="stylesheet" href="/static/css/demo.css" /> 
<link type="text/css" rel="stylesheet" href="/static/css/loaders.css" />
</head>

<body>
<div class='login' id='registerDiv'>
        <div class='login_title'>
                <span>注册</span>
        </div>
            
            <div class='login_fields'>
                <div class='login_fields__user'>
                  <div class='icon'>
                    <img alt="" src='/static/img/user_icon_copy.png'>
                  </div>
                  <input id="registerName" name="login" placeholder='用户名' maxlength="16" type='text' autocomplete="off" />
                  <div class='validation'>
                    <img alt="" src='/static/img/tick.png'>
                  </div>
                </div>
                <div class='login_fields__user'>
                    <div class='icon'>
                      <img alt="" src='/static/img/user_icon_copy.png'>
                    </div>
                    <input id="nickName" name="login" placeholder='昵称' maxlength="16" type='text' autocomplete="off" />
                    <div class='validation'>
                      <img alt="" src='/static/img/tick.png'>
                    </div>
                  </div>
                <div class='login_fields__password'>
                  <div class='icon'>
                    <img alt="" src='/static/img/lock_icon_copy.png'>
                  </div>
                  <input id="registerPwd" name="pwd" placeholder='密码' maxlength="16" type='text' autocomplete="off">
                  <div class='validation'>
                    <img alt="" src='/static/img/tick.png'>
                  </div>
                </div>
                <div class='login_fields__password'>
                  <div class='icon'>
                    <img alt="" src='/static/img/lock_icon_copy.png'>
                  </div>
                  <input id="registerPwd2" name="pwd" placeholder='确认密码' maxlength="16" type='text' autocomplete="off">
                  <div class='validation'>
                    <img alt="" src='/static/img/tick.png'>
                  </div>
                </div>
        
          
                <div class="layui-row">
                    <div class="layui-col-xs6">
                        <div class='register_fields__submit'>
                            <input id='registerSubmit' type='button' value='注册'>
                        </div> 
                    </div>
                </div>   
            </div>
            
        <div class='success'></div>
</div>


<div class='login' id='loginDiv'>
	<div class='login_title'>
		<span>登录</span>
    </div>
    
	<div class='login_fields'>
	    <div class='login_fields__user'>
	      <div class='icon'>
	        <img alt="" src='/static/img/user_icon_copy.png'>
	      </div>
	      <input id="userName" name="login" placeholder='用户名' maxlength="16" type='text' autocomplete="off" />
	      <div class='validation'>
	        <img alt="" src='/static/img/tick.png'>
	      </div>
	    </div>
	    <div class='login_fields__password'>
	      <div class='icon'>
	        <img alt="" src='/static/img/lock_icon_copy.png'>
	      </div>
	      <input id="userPwd" name="pwd" placeholder='密码' maxlength="16" type='text' autocomplete="off">
	      <div class='validation'>
	        <img alt="" src='/static/img/tick.png'>
	      </div>
	    </div>
	    <div class='login_fields__password'>
	      <div class='icon'>
	        <img alt="" src='/static/img/key.png'>
	      </div>
	      <input id=verityCode name="code" placeholder='验证码' maxlength="4" type='text' name="ValidateNum" autocomplete="off">
          <div class='validation' style="opacity: 1; right: -5px;top: -3px;">
        <canvas class="J_codeimg" id="myCanvas" onclick="Code();"></canvas>
	      </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-xs6">
                <div class='login_fields__submit'>
                    <input id='login' type='button' value='登录'>
                </div> 
            </div>
            <div class="layui-col-xs6">
                <div class='login_fields__submit'>
                    <input id='register' type='button' value='注册'>
                </div> 
            </div>
          </div>

    </div>
    <div class='success'></div>
</div>
<div class='authent'>
  <div class="loader" style="height: 44px;width: 44px;margin-left: 28px;">
    <div class="loader-inner ball-clip-rotate-multiple">
        <div></div>
        <div></div>
        <div></div>
    </div>
    </div>
  <p>验证登录中...</p>
</div>
<div class="OverWindows"></div>

<link type="text/css" rel="stylesheet" href="/static/plugin/layui/css/layui.css" />
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src='/static/js/stopExecutionOnTimeout.js'></script>
<script type="text/javascript" src="/static/plugin/layui/layui.js"></script>
<script type="text/javascript" src="/static/js/particleground.js"></script>
<script type="text/javascript" src="/static/js/treatment.js"></script>
<script type="text/javascript" src="/static/js/jquery.mockjax.js"></script>
<script type="text/javascript">
var canGetCookie = 0;//是否支持存储Cookie 0 不支持 1 支持
var ajaxmockjax = 1;//是否启用虚拟Ajax的请求响 0 不启用  1 启用
//默认账号密码

var truelogin = "hzy";
var truepwd = "123";

var CodeVal = 0;
Code();
function Code() {
	if(canGetCookie == 1){
		createCode("AdminCode");
		var AdminCode = getCookieValue("AdminCode");
		showCheck(AdminCode);
	}else{
		showCheck(createCode(""));
	}
}
function showCheck(a) {
	CodeVal = a;
    var c = document.getElementById("myCanvas");
    var ctx = c.getContext("2d");
    ctx.clearRect(0, 0, 1000, 1000);
    ctx.font = "80px 'Hiragino Sans GB'";
    ctx.fillStyle = "#E8DFE8";
    ctx.fillText(a, 0, 100);
}
$(document).keypress(function (e) {
    // 回车键事件  
    if (e.which == 13) {
        $('input[type="button"]').click();
    }
});
//粒子背景特效
$('body').particleground({
    dotColor: '#E8DFE8',
    lineColor: '#133b88'
});
$('input[name="pwd"]').focus(function () {
    $(this).attr('type', 'password');
});
$('input[type="text"]').focus(function () {
    $(this).prev().animate({ 'opacity': '1' }, 200);
});
$('input[type="text"],input[type="password"]').blur(function () {
    $(this).prev().animate({ 'opacity': '.5' }, 200);
});
$('input[name="login"],input[name="pwd"]').keyup(function () {
    var Len = $(this).val().length;
    if (!$(this).val() == '' && Len >= 5) {
        $(this).next().animate({
            'opacity': '1',
            'right': '30'
        }, 200);
    } else {
        $(this).next().animate({
            'opacity': '0',
            'right': '20'
        }, 200);
    }
});

//隐藏注册界面
$(document).ready(function(){
$('#registerDiv').hide();
});

var open = 0;
layui.use('layer', function () {
	// var msgalert = '默认账号:' + truelogin + '<br/> 默认密码:' + truepwd;
	// var index = layer.alert(msgalert, { icon: 6, time: 4000, offset: 't', closeBtn: 0, title: '友情提示', btn: [], anim: 2, shade: 0 });  
	// layer.style(index, {
	// 	color: '#777'
	// }); 

    $('#register').click(function (){
        $("#loginDiv").hide(); 
        $("#registerDiv").show();
    });

    $('#registerSubmit').click(function () {
        var username = $('#registerName').val();
        var pwd = $('#registerPwd').val();
        var pwd2 = $('#registerPwd2').val();
        var nickName = $('#nickName').val();
        if (username == '') {
            ErroAlert('请输入您的账号');
        } else if (pwd == '') {
            ErroAlert('请输入密码');
        } else if (nickName == ''){
            ErroAlert('请输入昵称');
        } else if (pwd2 == ''){
            ErroAlert('请再输入一次密码');
        } else if (pwd != pwd2) {
            ErroAlert('两次输入的密码不一致');
        }
        else {
            var JsonData = { username: username, pwd: pwd, nickname: nickName};
            $.ajax({
                   type: 'post',
                   url: '/HandleRegister',
                   data: JsonData,
                   success: function(res) {
                       if(res.status) {
                           layer.msg(res.msg, {time: 1000, icon: 6}, function() {
                           });
                           $("#registerDiv").hide();
                           $("#loginDiv").show();                          
                       } else {
                           layer.msg(res.msg, {time: 1500, icon: 5});
                            //注册失败
                       }
                   },
                   error: function() {
                       console.warn('request interface is failure.');
                   }
               })
        }
    });

    //非空验证
    $('#login').click(function () {
        var login = $('#userName').val();
        var pwd = $('#userPwd').val();
        var code = $('#verityCode').val();
        if (login == '') {
            ErroAlert('请输入您的账号');
        } else if (pwd == '') {
            ErroAlert('请输入密码');
        } else if (code == '') {
            ErroAlert('输入验证码');
        } else if (code.toUpperCase() != CodeVal.toUpperCase()){
                ErroAlert('验证码错误');
        } else {
            //认证中..
            $('.login').addClass('test'); //倾斜特效
            setTimeout(function () {
                $('.login').addClass('testtwo'); //平移特效
            }, 300);
            setTimeout(function () {
                $('.authent').show().animate({ right: -320 }, {
                    easing: 'easeOutQuint',
                    duration: 600,
                    queue: false
                });
                $('.authent').animate({ opacity: 1 }, {
                    duration: 200,
                    queue: false
                }).addClass('visible');
            }, 500);

            var JsonData = { login: login, pwd: pwd};
			var url = "";
            

            $.ajax({
                   type: 'post',
                   url: '/handleLogin',
                   data: JsonData,
                   success: function(res) {
                    setTimeout(function () {
                            $('.authent').show().animate({ right: 90 }, {
                            easing: 'easeOutQuint',
                            duration: 600,
                            queue: false
                            });
                            $('.authent').animate({ opacity: 0 }, {
                            duration: 200,
                            queue: false
                             }).addClass('visible');
                            $('.login').removeClass('testtwo'); //平移特效
                        }, 2000);
                        setTimeout(function () {
                            $('.authent').hide();
                            $('.login').removeClass('test');
                            if(res.status) {                           
                           //     layer.msg(res.msg, {time: 1000, icon: 6});
                                $('.login div').fadeOut(100);
                                $('.success').fadeIn(800);
                                $('.success').html(res.msg);
                                setTimeout(function () {
                                window.location.href="/home";
                                }, 3400);
                            }else {
                                layer.msg(res.msg, {time: 1500, icon: 5});
                            }
                        }, 2400);
                   },
                   error: function() {
                       console.warn('request interface is failure.');
                   }
               })
						
        }
    })
})
// var fullscreen = function () {
//     elem = document.body;
//     if (elem.webkitRequestFullScreen) {
//         elem.webkitRequestFullScreen();
//     } else if (elem.mozRequestFullScreen) {
//         elem.mozRequestFullScreen();
//     } else if (elem.requestFullScreen) {
//         elem.requestFullscreen();
//     } else {
//         //浏览器不支持全屏API或已被禁用  
//     }
// }  
// if(ajaxmockjax == 1){
// 	$.mockjax({  
// 		url: 'Ajax/Login',  
// 		status: 200,  
// 		responseTime: 50,          
// 		responseText: {"Status":"ok","Text":"登陆成功<br /><br />欢迎回来"}  
// 	}); 
// 	$.mockjax({  
// 		url: 'Ajax/LoginFalse',  
// 		status: 200,  
// 		responseTime: 50,          
// 		responseText: {"Status":"Erro","Erro":"账号名或密码或验证码有误"}
// 	});   
// }
</script>
</body>
</html>